
/* Main */
.main {
  text-align: center;
  background: url("http://i.huffpost.com/gen/1424482/images/o-AMERICAN-DREAM-facebook.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
}

.main .container {
  position: relative;
  top: 100px;
}

.main h1 {
  color: #fff;
  margin: 0;
  font-size: 100px;
}


p {
  font-family: Georgia, Lato, sans-serif; 
}

p {
  color:  #41292C;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

p {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

h2 {
  font-family: Georgia, Lato, sans-serif; 
}

h2 {
  color:  #41292C;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 100;
}

h2 {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}


img {
    display: block;
    margin: auto;
    width: 100%;
}

