body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
}

/** Header styles **/

.header {
  background-image: url(http://blog.addthiscdn.com/wp-content/uploads/2015/04/design-for-non-designers-cover.png);
  height: 400px;
  background-position: center center;
}

h1 {
  color: #41292C;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

p {
  font-family: Lato, Lato, sans-serif; 
}

p {
  color:  #41292C;
}
