body {
  padding: 0;
  margin: 0;
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
}

/** Header styles **/

.header {
  background-image: url(http://passport.unl.edu/styles/hero_promo/public/passport_bannerv2.jpg?itok=V575KQQ3);
  height: 400px;
  width: 1600px;
  background-position: center center;
}

h1 {
  color: #FFD02E;
  font-family: 'Lato', serif;
  font-size: 80px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}


p {
  font-family: Georgia, Lato, sans-serif; 
}

p {
  color:  #41292C;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

p {
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

<img align="middle">

